/* src/app/globals.css */
:root {
  --primary-color: #d56043;
  --secondary-color: #faf7f2;
  --font-family: 'Inter', sans-serif;
  --heading-color: #1a1a1a;       /* main headings */
  --subheading-color: #555555;    /* subheadings or secondary text */
  --body-text-color: #333333; 

  --font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: #f9f9f9;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

h2, h3, h4 {
  color: var(--subheading-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
