/* SubHeader.module.css */

.nav {
  display: flex;
  justify-content: center; /* Center the whole menu */
  background-color: var(--secondary-color);
  padding: 1rem 6rem;
}

.menuList {
  list-style: none;
  display: flex;
  gap: 30px; /* space between menu items */
  margin: 0;
  padding: 0;
  align-items: center;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--heading-color);
  cursor: pointer;
  transition: color 0.3s;
}

.menuItem:hover {
  color: var(--primary-color);
}

.menuItem svg {
  width: 10px;
  height: 10px;
  fill: var(--heading-color);
  transition: fill 0.3s;
}

.menuItem:hover svg {
  fill: var(--primary-color);
}

.modalContent {
  padding: 1rem;
}

.description {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 1rem;
}

.categoryList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryItem {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.categoryItem strong {
  color: #222;
}

.note {
  margin-top: 1rem;
  font-style: italic;
  color: #555;
}

.categoryHeader {
  margin-bottom: 0.25rem;
}

.subcategoryList {
  margin-left: 1rem;
  list-style: disc;
}

.clickable {
  cursor: pointer;
  color: #0070f3;
  text-decoration: underline;
}

.clickable:hover {
  opacity: 0.8;
}
